.headerBackgroundImage{
  background-image: url('https://cdn.pixabay.com/photo/2015/05/15/14/52/water-768745_960_720.jpg');
  background-size: cover;
}
.btn{
  margin-bottom: -5vh;
}
.card-body{
  background-color: lightgray;
}
.card-spillout{
  margin-bottom: -10vh;
}
.extra-padding{
  height: 15vh;
}